#container {
    background: url("../img/rage_sectionals_2014.jpg") no-repeat top center;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#guestTable {
    min-height: 70%;
    max-height: 80%;
    width: 800px;
    margin: 150px auto 40px auto;
}

#guestTable > .windows {
    height: 55px !important;
}

#guestTable > #yearTabs {
    height: 40px;
    margin-bottom: -1px;
    z-index: 99;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

#yearTabs > .tab {
    position:relative;
    height: 100%;
    width: 50px;
    line-height: 40px;
    padding: 0 20px 0 10px;
    color: #bfbfbf;
    display: inline-block;
    cursor: pointer;
    border-radius: 0 30px 0 0;
    box-shadow: 1px -1px 5px #6c6c6c;
    opacity: .85;

    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#yearTabs > .tab:hover {
    color: #dcb439;
    opacity: 1;
}

#yearTabs > .tab.green {
    background: #009b48;
}

#yearTabs > .tab.blue {
    background: #002b5b;
}

#yearTabs > .tab.selected {
    background: white;
    color: #dcb439;
    opacity: 1;
}

#yearTabs > .tab#all {
    margin-right: -4px;
}

#guestTable > #tableCont {
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
}

#tableCont > table  {
    width: 100%;
    border-top: 1px solid white;
    position: relative;
}

#tableCont > table > thead{
    position: fixed;
    border-top: 2px solid white;
}

#tableCont > table > tbody:before {
    line-height:1.5em;
    content:"-";
    color:white; /* to hide text */
    display:block;
}

#tableCont > table tr:nth-child(even) {
    background: #ededed;
}

#tableCont > table tr:nth-child(odd) {
    background: #e0e0e0;
}

#tableCont > table th {
    color: white;
    text-shadow: 0px 0px 1px #020202;
    background: #dcb439;
    border: 1px solid white;
    cursor: pointer;
    width: 265px;
}

#tableCont > table th:nth-child(2) {
    width: 266px;
}

#tableCont > table th:hover {
    background: #f4c32d;
}

#tableCont > table td {
    width: 33%;
    height: 20px !important;
    min-height: 25px !important;
    max-height: 25px !important;
    line-height: 30px !important;
    overflow: hidden !important;
    border: 1px solid white;
    padding: 3px 3px 3px 20px;
}

#tableCont > table td > span {
    color: #002b5b;
}

#tableCont > table td:last-child {
    text-align: center;
    font-weight: bold;
    padding: 0;
}

#tableCont > table td:last-child.up {
    color: #00d362;
    font-size: 22px;
}

#tableCont > table td:last-child.mid {
    color: #dcb439;
    font-size: 18px;
}

#tableCont > table td:last-child.down {
    color: #e8000f;
}

#tableCont > table td > span {
    float: right;
    margin-right: 15px;
}
