.pimg {
  width: 100%;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}

.pimg#maingBG {
  padding-top: 25px;
}

.pimg#secBG {
  text-align: center;
  background-color: #000;
  height: 500px !important;
}

div.landing {
    color: white;
    text-align: center;
    padding-top: 40px;
}

div.landing h1 {
    font-size: 50px;
    font-weight: 100;
    font-family: 'Allerta Stencil', sans-serif;
    width: 330px;
    padding: 20px;
    margin: 0 auto 0 auto;
    background-color: rgb(0,151,68);
    text-transform: uppercase;
}

div.landing h2 {
  font-size: 20px;
  width: 230px;
  padding: 10px;
  margin: 10px auto 0 auto;
  background-color: rgb(2,43,91);
}

.youtubeTrailer {
  height: 500px;
  width: 1000px;
}

.scrollPanel {
    width: 100%;
    height: 200px;
    background-color: rgba(220,180,57,.9);
    color: #002b5b;
    position: relative;
    box-shadow: 0px -1px 3px #3c3c3c;
    z-index: 9
}

#mainBG {
    background-image: url("../img/streetsmoke13.png");
}

#secBG {
    box-shadow: 0px 1px 3px #313557;
    z-index: 9
}

#thrBG {
  background-image: url("../img/maryTunnel.png");
  background-position: center 670px;
}

.spContent {
    width: 800px;
    margin: 0 auto 0 auto;
    padding: 20px;
    font-size: 20px;
}

#logo {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 100px;
    width: 100px;
}

/* two columns */
.column {
  width: 40%;
  height: 520px;
}

.column-left {
  float: left;
}
.column-right {
  float: right;
}

#bottomContainer {
    width: 900px;
    position:absolute;
    left:0;
    right:0;
    bottom: 100px;
    margin: 0 auto 0 auto;
}

#bottomContainer > div {
    padding: 20px;
    background: rgba(255,255,255,.75);
}

#bottomContainer .h1 {
    font-size: 32px;
    margin: 0 0 20px 0;
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
}

#bottomContainer .h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

#itinerary i {
    color: #009b48;
}

#signUp .button {
    color: #dcb439;
}

#signUp p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#register {
    background: #002b5b;
    color: #dcb439;
    margin-top: 50px;
}

#register:hover {
    background: #dcb439;
    color: #002b5b;
}

#guestList {
    background: #009b48;
    color: #dcb439;
    margin-top: 50px;
}

#guestList:hover {
    background: #dcb439;
    color: #009b48;
}

#fourBG {
    overflow: hidden;
    height: 680px !important;
}

#contact {
    width: 920px;
    position:absolute;
    left:0;
    right:0;
    bottom: 40px;
    margin: 0 auto 0 auto;
}

.contactCard {
    width: 450px;
    float: left;
    height: 190px;
    margin: 5px;
    box-shadow: 1px 1px 10px #1a1a1a;
}

.coverPhoto {
    height: 190px;
    width: 100%;
    overflow: hidden;
}

.coverPhoto > img {
    width: 100%;
    height: fill;
    margin-top: -20px;
}

.coverPhoto .normImg {
    left: 180px;
    position: relative;
}

#pat > .coverPhoto > .normImg {
    top: -320px;
}

#pat > .coverPhoto > .blurImg {
    margin-left: -90px;
}

#hoff > .coverPhoto > .normImg {
    top: -305px;
}

#hoff > .coverPhoto > .blurImg {
    margin-left: -90px;
}

#dan > .coverPhoto > .normImg {
    top: -300px;
}

#dan > .coverPhoto > .blurImg {
    margin-left: -90px;
}

#sheehan > .coverPhoto > .normImg {
    top: -280px;
}

#sheehan > .coverPhoto > .blurImg {
    margin-left: -90px;
}

#flake > .coverPhoto > .normImg {
    top: -285px;
}

#flake > .coverPhoto > .blurImg {
    margin-left: -70px;
}

#erich > .coverPhoto > .normImg {
    top: -660px;
}

#erich > .coverPhoto > .blurImg {
    margin-left: -120px;
}

.profCont {
    position: relative;
    top: -210px;
    left: 0;
}

.profLeft {
    width: 180px;
    text-align: center;
}

.profilePhoto {
    margin: 30px 0 0 33px;
    overflow: hidden;
    border-radius: 50%;
    height: 110px;
    width: 110px;
}

.profilePhoto > img {
    width: 100%;
    height: fill;
}

.profLeft > .h1 {
    color: #f0f0f0;
    font-size: 20px;
    text-shadow: 0px 0px 5px #000;
}

.profLeft > .h2 {
    color: #f0f0f0;
    font-size: 12px;
    text-shadow: 0px 0px 5px #000;
}

.profLeft > .h3 {
    color: #f0f0f0;
    font-size: 10px;
    height: 13px;
    text-shadow: 0px 0px 5px #000;
    overflow-y: auto;
}

#pat >.profCont > .profLeft > .profilePhoto > img {
    margin: -15px 0 0 0;
}

#hoff >.profCont > .profLeft > .profilePhoto > img {
    margin: -30px 0 0 0;
}

#dan >.profCont > .profLeft >  .profilePhoto > img {
    margin: -10px 0 0 0;
}

#sheehan >.profCont > .profLeft >  .profilePhoto > img {
    margin: -40px 5px 0 0;
}

#flake >.profCont > .profLeft >  .profilePhoto > img {
    margin: -40px 5px 0 0;
}

#erich >.profCont > .profLeft >  .profilePhoto > img {
    margin: -10px 0 0 0;
}

#panel2 {
    box-shadow: 0px 1px 3px #1a1a1a;
    z-index: 9;
    height: 90px;
    background: rgba(0,151,68,.9);
    color: #dcb439;
}

#panel3 {
    height: 140px;
    background: rgba(2,43,91,.9);
    color: #009b48;
    box-shadow: 0px 0px 3px #1a1a1a;
}

#panel3 > .spContent > div {
    width: 420px;
    margin: 0 auto 0 auto;
}
